*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to bottom right, #C9A7EB,70%,#6DA9E4);
    min-height: 100vh;
    font-family: sans-serif;
    padding-inline-start: 40px;
}

#root{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 40px;
    flex-wrap: wrap;
}

